{% extends 'layout.html' %} 

{% block component_style -%}
{% endblock component_style %}

<!-- {# scripts #} -->
{% block component_script -%}
    <script src="{{ url_for( 'index.static' , filename='index.js') }}" type="module"></script>
{%- endblock component_script %}

<!-- {# main #} -->
{% block blogs -%}

    <!-- {# show this tab only if user is authenticated #} -->
    {% if current_user.is_authenticated -%}
        <button id="blog-buttons__create-button" class="blog-buttons__button">
            <p>Create</p>
            <svg id="pencil-icon" class="icon" viewBox="0 0 24 24"><path d="M22,7.24a1,1,0,0,0-.29-.71L17.47,2.29A1,1,0,0,0,16.76,2a1,1,0,0,0-.71.29L13.22,5.12h0L2.29,16.05a1,1,0,0,0-.29.71V21a1,1,0,0,0,1,1H7.24A1,1,0,0,0,8,21.71L18.87,10.78h0L21.71,8a1.19,1.19,0,0,0,.22-.33,1,1,0,0,0,0-.24.7.7,0,0,0,0-.14ZM6.83,20H4V17.17l9.93-9.93,2.83,2.83ZM18.17,8.66,15.34,5.83l1.42-1.41,2.82,2.82Z"/></svg>
        </button>

        <div id="blog-posts">
            
        </div>

        <form id="create-blog" enctype="multipart/form-data">
            <div id="create-blog__options">
                <p id="create-blog__form-name">Add Blog</p>
                <div id="create-blog__close-box">
                    <svg id="create-blog-close-icon" class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.41,12l6.3-6.29a1,1,0,1,0-1.42-1.42L12,10.59,5.71,4.29A1,1,0,0,0,4.29,5.71L10.59,12l-6.3,6.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l6.29,6.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"/></svg>
                    <p id="create-blog-close">Close</p>
                </div>
            </div>
            <div id="create-blog__title-box" class="create-blog__input-box">
                <Label>Title</Label>
                <input type="text" required maxlength="100" name="title" id="create-blog__title">
            </div>
            <div id="create-blog__body-box" class="create-blog__input-box">
                <Label>Body</Label>
                <textarea name="body" required id="create-blog__body" cols="30" rows="10"></textarea>
            </div>
            <div id="create-blog__bottom">
                <div id="image-container">
                    <label>Image</label>
                    <br>
                    <input type="file" name="image" id="create-blog__bottom-image">
                </div>
                <button id="create-blog__submit" type="submit">
                    <p>Add</p>
                    <svg id="plus-icon" class="icon" viewBox="0 0 24 24"><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z"/></svg>
                </button>  
            </div>  
        </form>
    {%- endif %}
    
{%- endblock blogs %}